.cuerpo-index-estadisticas{
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    height: 100%;
    align-items: center;
}

.seccion-estadisticas-header{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
.seccion-estadisticas-header h2{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.2rem;
    padding-bottom: 0.1rem;
    color: var(--color-principal);
}

.seccion-estadisticas-header a:hover{
    color: var(--color-principal);
    transform: scale(1.04,1.04);
}

.panel {
    width: 100%;
}

.links-estadisticas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3.5rem;
    margin: 1rem;
    width: 70%;
    align-items: center;
    color: var(--color-acento);
}

.contenedor-estadisticas-especificas{
    width: 100%;
    height: 100%;
    margin-top: 1rem;
    display: flex;
    flex: 1;
    overflow: hidden;
    justify-content: center;
}

.contenedor-sin-estadisticas{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    height: 60%;
    background-color: white;
    border-radius: 1rem;
    gap: 2rem;
    width: 60%;
    border:1px solid var(--color-principal);
    box-shadow: 0.12rem 0.18rem rgb(0,0,0,0.1);
    margin:0 auto;
}
.contenedor-sin-estadisticas h2{
    border-bottom: 1px solid var(--color-principal);
}
.info-sin-estadisticas{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    width: 60%;
}

.filtro-estadistico{
    display: flex;
    flex-direction: row;
    width: 100%;

    height: auto;
    align-items: center;
    justify-content: center;
}
.filtro-estadistico form{
    background-color: white;
    width: 70%;
    border-radius: 2rem;
}
.contenedor-estadisticas-categoria{
    display: flex;
    flex: 1;
    overflow: hidden;
    width: 100%;
    gap:2rem;
    flex-direction: column;
}
.resultados-busqueda{
    display: flex;
    flex: 1;
    overflow: hidden;
    width: 100%;
    height: auto;
    flex-direction: row;
    gap: 1rem;

}

.exportar{
    margin: 18px;
}

.sin-contenido-estadistico{
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.sin-contenido-estadistico img{
    width: 10rem;
    height:10rem;
}

.datos-extra{
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 55%;
    gap: 2rem;
    background-color: white;
    border-radius: 1rem;
    border: 1px solid var(--color-principal);
    padding: 1rem;
}

.datos-extra h2{
    border-bottom: 1px solid var(--color-principal);
    font-weight: 800;
}

.extra{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.descargar{
    color: var(--color-acento);
    cursor: pointer;
}

.descargar:hover{
    transform: scale(1.01,1.01);
    color: var(--color-principal);
}

.wrapper-tabla{
    margin: 0;
}

#coleccion{
    width: 9.5rem;
}