@import url('global.css');

html,body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "Segoe UI", Arial, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.titulo-header {
    color: var(--color-secundario);
    font-size: 2rem;
    letter-spacing: 0.13rem;
    text-shadow: 0.07rem 0.15rem rgb(0,0,0,0.15);
}

@keyframes aparecer {
    from {
        opacity: 0;
        transform: scale(0.95,0.95);
    }
    to {
        opacity: 1;
        transform: scale(1,1);
    }
}

.contenedor.lateral.logo-titulo{
    animation: aparecer 1.3s ease-in-out;
    transition: 0.5s;

}

.contenedor.lateral.logo-titulo:hover{
    transform: scale(1.05,1.05);
}

.logo{
    width: auto;
    margin-right: 1rem;
    height:3rem;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--color-principal);
    width: 100%;
    height: auto;
    align-items: center;
    box-shadow: 0 7px 30px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}


.botones-header{
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 20px;
    width: 65%;
    height: auto;
    align-items: center;
}

.contenedor-cuerpo-index{
    width: auto;
    height: 100%;
    overflow:hidden;
}

form input,select,textarea{
    width: 60%;
    height: auto;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 0.25rem;
    border-radius: 0.3rem;
    border: 0.05rem var(--color-principal) solid;
    margin: 0 0 auto 0;
}

form textarea{
    padding-bottom: 3.3rem;
    height: 0;
    text-align: start;
    overflow-y: hidden;
}

form input.largo {
    padding: 8px 8px 24px 8px;
    align-items: start;
}

form label{
    border-bottom: 0.02rem #7a7878 solid;
    width: 60%;
    display: flex;
    justify-content: flex-start;
    margin-top: 0.8rem;
    margin-bottom: 0.5rem;
    color: var(--color-texto-negrita);
    padding-bottom: 0.5rem;
}

form input,select,textarea{
    margin-bottom: 0.4rem;
}
form b{
    margin-bottom: 1rem;
}

.botones-form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 25%;
    margin-top: 3%;
}
.panel h2{
    margin:0;
    width: 100%;
    align-items: center;
    background-color: var(--color-secundario);
    color: var(--color-principal);
    border-bottom: 0.1rem solid var(--color-principal);
    border-radius: 0;
    height: 100%;
    text-align: center;
}

a {
    text-decoration: none;
}

.link{
    color: var(--color-acento);
    display: inline-block;
    width: max-content;
}

.link:hover{
    color: var(--color-texto);
}

.link.activada {
    color: var(--color-texto);
    font-weight: bold;
    text-decoration: underline;
    transform: scale(1.1,1.1);
}

.contenedor-mensaje-error{
    min-height: 21px;
    color: red;
}

.contenedor.vertical.perfil-info{
    position: relative;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
}

.contenedor.vertical.desplegable{
    position: relative;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
}

.perfil{
    background-color: var(--color-principal);
    width: auto;
    height: auto;
    border: none;
    cursor: pointer;
    transition: 0.45s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25px;
}




.perfil:hover{
    transform: scale(1.1,1.1);

}
.perfil img{
    width: 2.9rem;
    height: 2.9rem;
    box-shadow: 0.09rem 0.15rem rgb(0,0,0,0.1);
    border-radius: 50%;
}

.contenedor.vertical.desplegable:hover .contenedor.vertical.infoADesplegarse {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    justify-content: center;
    padding-top: 1rem;
}


.contenedor.vertical.infoADesplegarse:hover{
    display: flex;
}

.contenedor.vertical.infoADesplegarse{
    display: none;
    width: auto;
    height: auto;
    position: absolute;
    z-index: 1000;
    top: 107%;
    left: 100%;
    min-width: 9rem;
    background-color: white;
    transform: translateX(-63%);
    padding: 0.8rem;
    border-radius: 1rem;
    box-shadow: 0.09rem 0.15rem rgb(0,0,0,0.1);
}

.boton.subir-hecho {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
}

.boton.subir-hecho img {
    max-height: 1.3rem;
    max-width: 1.3rem;
}

.img-perfil-deplegable{
    width: 2rem;
    height: 2rem;
}


.contenedor.lateral.info-usuario{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 100%;
}

.contenedor.lateral.info-usuario p{
    text-align: start;
    margin: 0;
    padding: 0;
    width: 100%;
    margin-left: 15px;
    color: var(--color-texto-negrita);
}

.contenedor.lateral.info-usuario a{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 100%;
}

.contenedor.lateral.info-usuario a:hover{
    transform: scale(1.01,1.01);
}
.contenedor.lateral.info-usuario p:hover{
    color: var(--color-principal);
}

.breadcrumbs {
    display: flex;
    width:70%;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    align-items: center;
    margin: 16px;
}

.breadcrumbs a {
    color: var(--color-texto);
    font-size: 16px;
}

.breadcrumbs a:hover{
    color: var(--color-acento);
}

.breadcrumbs img {
    max-height: 1.3rem;
    max-width: 1.3rem;
}


/*

.boton.subir-hecho{
    animation: apretame 2.5s ease-in-out infinite alternate-reverse;
}

@keyframes apretame {
    0%{
        transform: scale(0.9,0.9);
        background-color: var(--color-acento);
        rotate: initial;
    }
    100%{
        transform: scale(1.15,1.15);
        background-color: red;
        rotate: 5deg;
    }
}

 */