@import url('global.css');


#map {
    height: 100%;
    width:100%;
}

.punto-mapa {
    width: 15px;
    height: 15px;
    background-color: var(--color-acento);
    border: 2px solid var(--color-secundario);
    border-radius: 50%;
    box-shadow: 0 0 4px rgba(0,0,0,0.3);
    cursor: pointer;
}
