@import url('global.css');


.modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal.active {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.modal .panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-secundario);
    padding: 0 0 3rem 0 ;
    border-radius: 8px;
    width: 40%;
    height: fit-content;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1001;
    overflow: hidden;
}

.backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.modal form{
    display: flex;
    flex-direction: column;

    width: 90%;
    height: 95%;
    justify-content: space-around;
    align-items: center;
}

.panel.sign-up label{
    font-size: 1rem;
}

.titulo-boton-modal{
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 100%;
    background-color: var(--color-principal);
    width: 80%;
    height: auto;
    align-items: center;
    justify-content: center;
}
#boton-cerrar{
    height: 2rem;
    width: 50%;
    color: var(--color-principal);
    background-color: var(--color-secundario);
}

#iniciar-sesion{
    padding: 0.6rem;
}